<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="{{ '/public/css/poole.css' | absolute_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/public/css/syntax.css' | absolute_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/public/css/lanyon.css' | absolute_url }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"
    />
  </head>
  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">Archaka App</a>
            <!-- <small>{{ site.tagline }}</small> -->
          </h3>
        </div>
      </div>

      <div class="container content">{{ content }}</div>
    </div>
  </body>
</html>
